<div class="profile-sidebar">
    <div class="profile-image">
      <img width="250px" src="/assets/images/profile.jpg" alt="Profile Image">
    </div>
    <h5>Profile {{ site.author-profile.name }}</h5>
    <p>{{ site.author-profile.bio }}</p>
    <ul class="social-media-list d-flex">
        {%- if site.author-profile.linkedin -%}
        <li>
          <a href="https://linkedin.com/in/{{ site.author-profile.linkedin }}" target="_blank">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>
          </a>
        </li>
        {%- endif -%}
        {%- if site.github_username -%}
        <li class="ps-1 pt-0">
          <a class="text-decoration-none" href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
          </a>
        </li>
        {%- endif -%}

      <!-- 더 많은 소셜 링크 추가 가능 -->
    </ul>
</div>