/**
 * Site header
 */

// :root {
//   --text-color: black;
//   --background-color: white;
// }

.site-header {
    background-color: $background-color;
    position: sticky;
    top: 0;
    z-index: 2;
}

.site-title {
  @include relative-font-size(1);
  font-weight: 500;
  line-height: $base-line-height * $base-font-size * 2.25;
  // letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $white;
  }
}

.site-nav {
  // line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $grey-color-dark;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-light;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  padding:0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
  width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.footer-col-wrapper a{
  color: gainsboro;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: 1.5;

  @include media-query($on-laptop) {
    @include relative-font-size(1.5);
    word-break: keep-all; /* 단어가 길 경우 줄바꿈 */
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  line-height: 2;
  @include relative-font-size(0.9);
  @include media-query($on-laptop) {
    @include relative-font-size(0.9);
  }

  h2 {
    margin-top: 1em;
    @include relative-font-size(1.75);

    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }

  h3 {
    @include relative-font-size(1.325);

    @include media-query($on-laptop) {
      @include relative-font-size(1.075);
    }
  }

  h4 {
    @include relative-font-size(0.9);

    @include media-query($on-laptop) {
      @include relative-font-size(0.9);
    }
  }

  p
  {
    @include relative-font-size(0.9);
    @include media-query($on-laptop) {
      @include relative-font-size(0.9);
    }
  }
}


/*

custom

*/

// .background {
//   position: fixed;
//   width: 200%;
//   height: 200%;
//   background: linear-gradient(to right, #ff6262 0%, #ffffff 30%);
//   z-index: -100;
// }

.utterances {
  max-width: unset !important;
}

.btn-offcanvas {
  position: fixed;
  top: 20vmin;
  width: 70px;
  border-radius: 0px 10px 10px 0px !important;
  writing-mode: vertical;
  z-index:100;
  transition: width 0.6s!important;
  background: black;
}

.btn-offcanvas:hover {
  width: 120px;
  background: black;
}

@include media-query($on-palm) {
  .btn-offcanvas{
    top: 0;
  }
}

.home {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  word-wrap: break-word; /* 또는 overflow-wrap: break-word; */
  word-break: break-word; /* 단어가 길 경우 줄바꿈 */
}

.post{
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  word-wrap: break-word; /* 또는 overflow-wrap: break-word; */
  word-break: break-word; /* 단어가 길 경우 줄바꿈 */
}

.sidebar, .home, .post, footer, header{
  font-family: "NanumSquare";
  line-height: 1.8;
}

footer, header a{
  letter-spacing: 1px;
}

/*
search style
*/

.search-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #888888;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 0.5rem 2.5rem 0.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.search-icon {
  position: absolute;
  left: 0.5rem;
  font-size: 1.2rem;
  color: #888;
}

.search-clear {
  position: absolute;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #888;
  cursor: pointer;
}

.search-results {
  max-height: 300px;
  overflow-y: auto;
  border-top: 1px solid #eee;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}